[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
	\.git
  | \.venv
  | venv
)/
'''

[tool.ruff]
# Enable Pyflakes (F) and Isort (I)
select = ["E", "F", "I"]
fixable = ["ALL"]
exclude = [
    ".git",
    ".venv",
    "__pypackages__",
    "build",
    "dist",
]

[tool.ruff.isort]
known-first-party = ["app"]

[tool.mypy]
plugins = ["sqlalchemy.ext.mypy.plugin"]
strict = true
ignore_missing_imports = true
