[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
	\.git
  | \.venv
  | venv
)/
'''

[tool.ruff]
fixable = ["ALL"]
select = [
    "E",  # pycodestyle errors
    "F",  # pyflakes
    "I",  # isort
]
ignore = [
    "E501",  # line too long, handled by black
]
exclude = [
    ".git",
    ".venv",
    "__pypackages__",
    "build",
    "dist",
]

[tool.ruff.isort]
known-first-party = ["app"]

[tool.mypy]
plugins = ["sqlalchemy.ext.mypy.plugin"]
strict = true
ignore_missing_imports = true

[tool.pytest.ini_options]
pythonpath = ["."]
testpaths = ["tests"]
